language: java
cache:
  directories:
  - $HOME/.m2
before_install:
- bash deployment/decrypt.bash
install: true
script: >
  mvn clean verify
  --file pom.xml
  --batch-mode
  --activate-profiles analyze
deploy:
  provider: script
  on:
    tags: true
  script: bash deployment/deploy.bash
env:
  global:
  - SONATYPE_USERNAME=vandmo
  - secure: ZBazfo++G7tlXHv+C3n/RCqlJMAROjSGdyHR1fwpYMyZxfaSY5GS0Oe9uP22frV9NhjFCaBE1KPsI5LpUKSX2fNUL+gE6HVawhOwxvxNs7cMzxPHqq6F7G+xT7e+DGNPeOkUtntXAN1t+n56RpXIWcxTFvCggBAidm/YxwdfP8Jz6jbGcYRSgxtzfsK+xs3VtSVzviLsKpW/WqDgDoDx+Kzak0S4GgnTeV+ba2/4mE8dx0ZLVFhpRhAlR28QkzJcI47QUmTtPCf2vO11009RYkGPjzzxERa4W1jC2DMzagrARkReGmEMB61Y9Yf+Rd4pRXE5AEBU8YfwuzntiSYDQzvoliWNhu5E6doEKVbTWclPtBzlLgouRoka9RViZRJ5uUuCjD4QfFKHP14MEFHgO3Jjah7ldxFBiayiYIKhtnqN5p/6KLRvXqSOs5eb8Os84bAz6FqP0rLMKPpgKi+yEsp2oDVkSh6x0lKvj1DdKWDhRDmThAdfP8TY0mAxozcGolFxsdXnSLlu5OXL7qXxllHAoXqqY72IlOkaU4Uc5iMpxbC6UkQLbYz+3Jw4AL9IhNBUUMct0UHEwe+9DZsjIK7ulZxksOoRBZQUsVenu0Frb3+0RqhfhKbz4CD48iJA+LfU2iRnjkW3P3YR/6dzqz8M1RvfwiTS7GjpuMRq2cQ=
  - secure: cq96yJnEyAYfP82WW99J/8IeuZ408TVzttcJQwHcGisg3AQ5I+au48r9mB/izK2XeaOC9KX+ECSc3rgHKXksdrL7wzs/Q2vknpaHO0T17HjxWbZ/FxUPXbZNq6NME3VRyhDE6dCiUFXDDbNs+7wpNNi2jwHa4NahDid3wMzFCdNmXt5tSYCKq81zfBy0b9vffgXsXD/y11cBYpR2bVQM6X+XTH5AzuLYhwcYVgjvqxasMrNG3zM/rM+2+W/V1ZxAUF3q/QKUpPUGHidpQ/gp6dFm89pVWI0I6iYv4hG1ecuOiLqArreIWgN5WU8SFs1IOWow4ln19xkyXno6wzO15GxqjudtHqUYmcqJgpvmFhhe5E02krryzsuou9puRi4NRhhx8ZWOp0iaIIQ9V91gXPT7GAF2kHdREjjd7wZpwXxqH1hNEWFZfGcCFTDOQfqhy81/X3n96uwOlYof7yPQK4WhYIyZyndrTMZt8F4ILvJzqddYiWzoAItJmXus2RcH6rXpYUYwIgt9YxE5nZESHldJ17UTMD4qqFW4EIpYq8ziEjbcOBK7yjqHnaRtnXdpLMss5+84e79OdULHRNMjx0mCTS9BEqQDkfAGwqtU5utoCH2oNMkcmo0knelWQIzxu5fC2edpa2qtLhIug85ztl/4YGB6yW08WMY0Da8lI2U=
