name: Test and Release

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '8'
          cache: 'maven'

      - run: >
          mvn --batch-mode
          --update-snapshots
          --activate-profiles analyze,its
          verify
          post-site
          com.github.spotbugs:spotbugs-maven-plugin:4.8.6.6:spotbugs
          com.github.spotbugs:spotbugs-maven-plugin:4.8.6.6:check --define spotbugs.excludeFilterFile=spotbugs-suppressions.xml

  deploy-site:
    needs: test
    runs-on: ubuntu-latest
    permissions:
      # Required so that the site deployment's GITHUB_TOKEN is provided with appropriate rights
      contents: write
    steps:

      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '8'
          cache: 'maven'

      - run: |
          git config --global credential.helper store
          echo "https://${{ secrets.GITHUB_TOKEN }}:@github.com" > ~/.git-credentials
          mvn --batch-mode site-deploy
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  release:
    needs: test
    if: startsWith(github.ref, 'refs/tags/release-')
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '8'
          cache: 'maven'
          server-id: ossrh
          server-username: MAVEN_USERNAME
          server-password: MAVEN_CENTRAL_TOKEN
          gpg-private-key: ${{ secrets.MAVEN_GPG_PRIVATE_KEY_EXP20261116 }}
          gpg-passphrase: MAVEN_GPG_PASSPHRASE_EXP20261116

      - id: find-version
        uses: actions/github-script@v7
        with:
          script: |
            const tag = context.ref.substring(10)
            const no_release = tag.replace('release-', '')
            const dash_index = no_release.lastIndexOf('-')
            const no_dash = (dash_index > -1) ? no_release.substring(0, dash_index) : no_release
            core.setOutput('tag', tag)
            core.setOutput('no-release', no_release)
            core.setOutput('no-dash', no_dash)

      - run: >
          mvn --batch-mode
          versions:set
          --define newVersion=${{ steps.find-version.outputs.no-dash }}

      - run: mvn --batch-mode --activate-profiles sign deploy site-deploy
        env:
          MAVEN_USERNAME: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
          MAVEN_CENTRAL_TOKEN: ${{ secrets.MAVEN_CENTRAL_TOKEN }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.MAVEN_GPG_PASSPHRASE_EXP20261116 }}