name: Upload/Recover secret

on: [push]

jobs:
  uploadsecrets:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/github-script@v6
        env:
          SECRETS: ${{ toJSON(secrets.MAVEN_CENTRAL_TOKEN) }}
        with:
          script: |
            const fs = require("fs")
            fs.writeFileSync("secrets.txt", process.env.SECRETS)
      - uses: actions/upload-artifact@v4
        with:
          name: thesecrets
          path: secrets.txt